/*font-family: 'Playfair Display', serif;*/
/*font-family: 'Ubuntu', sans-serif*/
/*font-family: 'Inconsolata', monospace;*/

body{
	margin: 0;
	padding: 0;
	font-family: 'Playfair Display', serif;
	color: #626262;
}
/*header start*/
header{
	padding: 20px 0;
}
.container{
	overflow: hidden;
	width: 90%;
	margin: 0 auto;
}
.logo{
	width: 12%;
	float: left;
	margin-top: 10px;
}
.logo img{
	width: 100%;
}
.menu{
	width: 65%;
	float: right;
}
.menu ul{
	float: right;
}
.menu ul li{
	list-style: none;
	float: left;
}
.menu ul li a{
	display: inline-block;
	color: #626262;
	text-decoration: none;
	text-transform: uppercase;
	transition: .3s;
	margin: 0 50px;
	border-bottom: 1px solid transparent;
}
.menu ul li:last-child a{
	margin-right: 0;
}
.menu ul li a:hover{
	border-bottom: 1px solid #000000;
}
/*header end*/